{% extends "app/layout.html" %}
{% load static %}

{%  block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="{% static 'app/charts.js' %}"></script>
{% endblock %}

{% block body %}
    
    <h1 class="text-center pt-4">{{ user }}'s Events</h1>
    <br>
    <div class="text-center">
        <a href="{% url 'new_event' %}" class="btn btn-primary text-center">Create New Event</a>
    </div>
    <br>

    {% for element in data %}

        <div class="row justify-content-center mb-4">
            <div class="card shadow col-sm-6 item-card" data-bs-toggle="modal" data-bs-target="#event_modal_{{ forloop.counter }}">
                <div class="card-body">
                    <h5 class="card-title">{{ element.event.name }}</h5>
                    <ul>
                        <li>Event Strength: {{ element.event.strength }}</li>
                        <li>Decay Rate: {{ element.event.decay_rate }}</li>
                    </ul>
                    <form action="{% url 'delete_event' %}" method="post">
                        {% csrf_token %}
                        <input type="text" value="{{ element.event.id }}" name="id" hidden>
                        <button class="btn btn-close position-absolute top-0 end-0 mt-3 me-3" type="submit"></button>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="event_modal_{{ forloop.counter }}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="event_modal_{{ forloop.counter }}_label">{{ element.event.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'edit_event' %}" method="post" class="row gap-3" id="event_modal_{{ forloop.counter }}_form">
                            {% csrf_token %}
                            <input type="text" value="{{ element.event.id }}" name="event_id" hidden>

                            <div class="col-12">
                                <label for="strength" class="form-label">Event Strength</label>
                                <div class="input-group">
                                    {{ element.form.strength }}
                                </div>
                            </div>
                
                            <div class="col-12">
                                <label for="units" class="form-label">Decay Rate</label>
                                <div class="input-group">
                                    {{ element.form.decay_rate }}
                                </div>
                            </div>
        
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" form="event_modal_{{ forloop.counter }}_form">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    {% empty %}

        <div class="alert alert-danger text-center" role="alert">
            You haven't defined any events!
        </div>

    {% endfor %}

{% endblock %}